<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h1>Programação</h1>
        <table class="table">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">Programa</th>
                    <th scope="col">data atual</th>
                    <th scope="col">inicio</th>
                    <th scope="col">fim</th>
                    <th scope="col">inicio</th>
                    <th scope="col">fim</th>
                    <th scope="col">duração</th> 
                    <th scope="col">categoria</th> 
                </tr>
            </thead>
            <tbody>
                <for|programa| of=data.entries>
                    <if(programa.start_time <= data.entries.current_time && programa.end_time >= data.entries.current_time)>
                        <tr class="bg-success">
                            <td scope="row">${programa.title}</td>
                            <td scope="row">${data.entries.current_time}</td>
                            <td scope="row">${programa.start_time}</td>
                            <td scope="row">${programa.end_time}</td>
                            <td scope="row">${programa.human_start_time}</td>
                            <td scope="row">${programa.human_end_time}</td>
                            <td scope="row">${programa.duration_in_minutes} min</td>
                            <td scope="row">${programa.program.category}</td>
                        </tr>
                    </if>
                    <else>
                         <tr>
                            <td scope="row">${programa.title}</td>
                            <td scope="row">${data.entries.current_time}</td>
                            <td scope="row">${programa.start_time}</td>
                            <td scope="row">${programa.end_time}</td>
                            <td scope="row">${programa.human_start_time}</td>
                            <td scope="row">${programa.human_end_time}</td>
                            <td scope="row">${programa.duration_in_minutes} min</td>
                            <td scope="row">${programa.program.category}</td>
                        </tr>
                    </else>
                </for>
            </tbody>
        </table>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>